.logo-icon {
    width: 250px;
    height: auto;
}

.color-text {
    color: #E60065;
}

.login-head {
    color: #E60065;
    font-size: 26px;
    font-weight: 700;
}

.Login-img {
    height: 100%;
    display: flex;
    align-items: center;
}

.custom-login-btn {
    background: #E60065 !important;
    color: #fff !important;
    width: 100%;
    font-weight: 500;
    transition: 0.4s;
    border: none !important;
}

.Login-card {
    box-shadow: 0px 4px 18px rgba(75, 70, 92, 0.1);
    background-color: #fff;
}

@media (max-width: 1199.99px) {
    .Login img.logo-icon {
        width: 200px;
    }

    .Login .form-outline.mb-4 {
        margin-bottom: 12px !important;
    }
}