.header-dec {
    background-color: #fff;
    padding: 10px 0px;
    z-index: 99999;
    position: relative !important;
    font-family: "Roboto", sans-serif !important;
}

.header-dec.bg-active {
    background: #fff;
    position: fixed !important;
    box-shadow: 0px 2px 4px 0 #0000003d;
}

.Brand-logo {
    width: 160px;
    height: auto;
}

.header-items {
    justify-content: space-between;
    align-items: center;
}

.header-links {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
}

.header-links .New-nav-link {
    padding: 8px 10px !important;
    color: #000 !important;
}

.header-links:hover .New-nav-link,
.header-links:active .New-nav-link,
.header-links.active .New-nav-link,
.header-links:focus .New-nav-link {
    color: #E60065 !important;
}


.header-btns {
    text-decoration: none;
    transition: 0.4s;
}

.header-btns .New-nav-link {
    padding: 8px 16px !important;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    border-radius: 80px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-btns:hover .New-nav-link,
.header-btns:active .New-nav-link,
.header-btns.active .New-nav-link {
    background-color: #E60065;
    color: #fff;
    border: 1px solid #E60065;
    margin-left: 10px;

    .header-btn-text {
        display: block;
    }
}

.header-btn-text {
    display: none;
}

.header-search {
    font-size: 16px;
    color: #E60065 !important;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.header-search .search-input, .header-search .search-input:focus-visible{
    border: 2px solid transparent !important;
    background-color: transparent;
    color: #000;
    border-bottom-color: #E60065 !important;
}

.search-input{
    display: none;
}

.Search-active.search-input{
    display: block;
}