.SP-bg{
    background-image: url(../../assets/images/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.procuct-brand-png {
    width: 160px;
    height: auto;
    margin-bottom: 20px;
}

.SP-title h3 {
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
}

.sproduct-view .SP-View-link {
    font-size: 18px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
}

.Special-Product{
    margin-bottom: 100px;
}